@page "/product"
@using webapp2.Model
@inject NavigationManager nav

<h1 class="mb-3 mt-3">Add Product</h1>

<EditForm Model="@aProduct" OnSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Name</label>
        <InputText id="Name" @bind-Value="aProduct.Name" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="aProduct.Price" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="PublishedDate">Published Date</label>
        <InputDate id="PublishedDate" @bind-Value="aProduct.PublishedDate" class="form-control" />
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="aProduct.Description" class="form-control" />
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

<h2>List of Products</h2>
<ul>
@foreach (Product p in mProducts)
{
    <li>@p.Name, @p.Price kr, @p.Stock</li>   
}
</ul>
@code {
    
    private Product aProduct = new();

    private List<Product> mProducts = new();
    
    private void HandleSubmit()
    {
        mProducts.Add(aProduct);
        aProduct = new();
    }

}


